*{
    margin: 0;
    padding: 0;
}

body{
   background-image: url(/img/fondo2.jpg);
   background-size: cover;
   opacity: 90%;
   

}

header{
    width: 100%;
    overflow: hidden;
    background: rgb(32, 32, 32);
    margin-bottom: 20px;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo{
    color: rgb(249, 248, 250);
    font-size: 50px;
    line-height: 200px;
    float: left;
    font-weight: bold;
    text-shadow: 5px 5px 5px #000;
}

header nav{
    float: right;
    line-height: 200px;
}

header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover{
    background: #f56f3a;
    border-radius: 50px;
}

.contenedor{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}
.contenedor .div-formulario {
    width: 30%;
    height: 250px;
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, .3);
}
.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.5em;
    color: whitesmoke;
    text-shadow: 5px 5px 5px #000;
}
.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}
.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, .3);
}
.contenedor .div-listado h2{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: 5px 5px 5px #000;
}
.contenedor .div-listado .div-alumnos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}
.contenedor .div-listado .div-alumnos p{
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr{
    width: 100%;
    height: 1px;
}

.btn{
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}
.btn-editar{
    background-color: green;
}
.btn-eliminar{
    background-color: red;
}